@{
	ViewData["Title"] = "Criar Endereço";
}

<div class="container">
	<div class="row">
		<div class="col-md-8 mb-4">
			<div class="card mb-4">
				<div class="card-header py-3">
					<h5 class="mb-0">Detalhes</h5>
				</div>
				<div class="card-body">
					<form>

						<div class="form-outline mb-4">
							<div class="col-sm-3">
								<label class="form-label" for="cep">CEP</label>
								<input type="text" id="cep" class="form-control" />
							</div>
						</div>

						<div class="form-outline mb-4">
							<div class="form-outline">
								<label class="form-label" for="nome">Nome Completo</label>
								<input type="text" id="nome" class="form-control" />
							</div>
						</div>

						<div class="form-outline mb-4">
							<div class="form-outline">
								<label class="form-label" for="endereco">Endereço</label>
								<input type="text" id="enderecoe" class="form-control" />
							</div>
						</div>

						<div class="row mb-4">
							<div class="col-sm-3">
								<div class="form-outline">
									<label class="form-label" for="numero">Número</label>
									<input type="text" id="numero" class="form-control" />
								</div>
							</div>
							<div class="col-sm-9">
								<div class="form-outline">
									<label class="form-label" for="complemento">Complemento</label>
									<input type="text" id="complemento" class="form-control" />
								</div>
							</div>
						</div>

						<div class="form-outline mb-4">
							<label class="form-label" for="bairro">Bairro</label>
							<input type="text" id="bairro" class="form-control" />
						</div>

						<div class="form-outline mb-4">
							<label class="form-label" for="cidade">Cidade</label>
							<input type="email" id="cidade" class="form-control" />
						</div>

						<div class="row mb-4">
							<div class="col-sm-9">
								<div class="form-outline">
									<label class="form-label" for="form7Example1">Estado</label>
									<input type="text" id="telefone" class="form-control" />
								</div>
							</div>
							<div class="col">
								<div class="form-outline">
									<label class="form-label" for="telefone">Telefone</label>
									<input type="text" id="telefone" class="form-control" />

								</div>
							</div>
						</div>

						<div class="d-grid gap-2">
							<button class="btn btn-primary" type="button">Registrar</button>
							<button class="btn btn-secondary" type="button" asp-controller="Endereco" asp-action="Index">Voltar</button>
						</div>

					</form>
				</div>
			</div>
		</div>
	</div>
</div>