@*
	For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="container">
	<form>

		<div class="row">
			<div class="col-md-8 mb-4">
				<div class="card mb-4">
					<div class="card-header py-3">
						<h5 class="mb-0">Biling details</h5>
					</div>
					<div class="card-body">
						<form>

							<div class="form-outline mb-4">
								<input type="text" id="cep" class="form-control" />
								<label class="form-label" for="cep">CEP</label>
							</div>

							<div class="form-outline mb-4">
								<div class="form-outline">
									<input type="text" id="nome" class="form-control" />
									<label class="form-label" for="nome">Nome Completo</label>
								</div>
							</div>

							<div class="row mb-4">
								<div class="col-sm-3">
									<div class="form-outline">
										<input type="text" id="endereco" class="form-control" />
										<label class="form-label" for="endereco">Número</label>
									</div>
								</div>
								<div class="col-sm-9">
									<div class="form-outline">
										<input type="text" id="complemento" class="form-control" />
										<label class="form-label" for="complemento">Complemento</label>
									</div>
								</div>
							</div>

							<!-- Text input -->
							<div class="form-outline mb-4">
								<label class="form-label" for="bairro">Bairro</label>
								<input type="text" id="bairro" class="form-control" />
							</div>

							<!-- Email input -->
							<div class="form-outline mb-4">
								<label class="form-label" for="cidade">Cidade</label>
								<input type="email" id="cidade" class="form-control" />
							</div>

							<div class="row mb-4">
								<div class="col-sm-9">
									<div class="form-outline">
										<label class="form-label" for="form7Example1">Estado</label>
										<input type="text" id="telefone" class="form-control" />
									</div>
								</div>
								<div class="col">
									<div class="form-outline">
										<label class="form-label" for="telefone">Telefone</label>
										<input type="text" id="telefone" class="form-control" />

									</div>
								</div>
							</div>

						</form>
					</div>
				</div>
			</div>


		</div>



	</form>

</div>