@{
	ViewData["Title"] = "Endereço";
}

<div class="text-center">

	<div class="d-grid gap-2 d-md-flex justify-content-md-start">
		<a class="btn btn-primary" role="button">Adicionar Novo Endereço</a>
	</div>


	<h1 class="display-4">Listagem de Endereços</h1>


	<table class="table table-striped">
		<thead>
			<tr>
				<th scope="col">#</th>
				<th scope="col">Endereç</th>
				<th scope="col">Número</th>
				<th scope="col">Complemento</th>
				<th scope="col">Bairro</th>
				<th scope="col">Cidade</th>
				<th scope="col">Estado</th>
				<th scope="col">CEP</th>
			</tr>
		</thead>
	</table>
</div>