@{
	ViewData["Title"] = "Endereço";
}




<div class="text-center">
	<h1 class="display-4">Listagem de Endereços</h1>


<table class="table table-striped">
	<thead>
		<tr>
			<th scope="col">#</th>
			<th scope="col">Endereço</th>
			<th scope="col">Número</th>
			<th scope="col">Complemento</th>
			<th scope="col">Bairro</th>
			<th scope="col">Cidade</th>
			<th scope="col">Estado</th>
			<th scope="col">CEP</th>
		</tr>
	</thead>
</table>
</div>